process {
    container = 'satta/rnaseq-example-nf:latest'
}

// process.$mapping.memory = "6 GB"
// process.$mapping.clusterOptions = " -R 'select[mem>6144] rusage[mem=6144]' "

executor {
    name = 'local'     // or: 'lsf', 'sge', ...
    queueSize = 10
    pollInterval = '3sec'
}

manifest {
    homePage = 'https://github.com/satta/rnaseq-example-nf'
    description = 'Example RNAseq pipeline'
    mainScript = 'rna-seq.nf'
}